
*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 1280px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/*HEADER*/
/*
header{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    background-image: linear-gradient(180deg,rgb(84, 153, 248),rgb(84, 153, 248),rgb(84, 153, 248),rgb(84, 153, 248),rgb(84, 153, 248),transparent );
    height: 120px;
}
*/
header {
    width: 1280px;
    /*
    display: flex;
    justify-content: space-between;
    align-items: center;
    */
    padding: 5px;
    box-sizing: border-box;
    
    background-image: linear-gradient(180deg,rgb(84, 153, 248),rgb(84, 153, 248),rgb(84, 153, 248),rgb(84, 153, 248),rgb(84, 153, 248),transparent);
    
    /*
    background-image: linear-gradient(180deg,rgb(84, 153, 248),rgb(84, 153, 248),transparent,transparent,transparent,transparent);
    */
    height: 100px;
    transition: position 1s;
    z-index: 100;
}

.div-header{
    width: 1080px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;

}

.logo{
    position: absolute;
    top: 80px;
    left: 250px;

    transition: 1s;
}



/*termina header*/

.hamburguesa{
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    margin-top: 2%;
    cursor: pointer;
    transition:.3s;
}

.hamburguesa:hover{
    transition: .3s;
    transform: scale(1.07);
}
/*
.hamburguesa-cruz{
    #ham1{
        
        box-shadow: none;
        transform:translateY(-5px) rotate(45deg);
        width: 40px;
    }
    #ham2{
        opacity: 0;
    }
    #ham3{
        box-shadow: none;
        transform: translateY(5px) rotate(-45deg);
        width: 40px;
    }
}
*/

.hamburguesa > div{
    background-color: rgb(255, 233, 1);
    width: 100%;
    height:5px;
    border-radius: 10px;
    border: 4px solid rgba(41, 129, 255, 1);
    transition: all .5s;
    transform-origin:left ;
    box-shadow:3px 3px rgba(2, 24, 126, 1);
    transition:  opacity .1s;
}


@keyframes menu_hamburguesa_ham1{
    0%{
        transform:translateY(0) rotate(0);
    }
    100%{
        box-shadow: none;
        transform:translateY(-5px) rotate(45deg);
        width: 40px;
    }
}

@keyframes menu_hamburguesa_ham2{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes menu_hamburguesa_ham3{
    0%{
        transform:translateY(0) rotate(0);
    }
    100%{
        box-shadow: none;
        transform:translateY(5px) rotate(-45deg);
        width: 40px;
    }
}

@keyframes menu_hamburguesa_vuelta1{
    0%{
        transform:translateY(-5px) rotate(45deg);
    }
    100%{
        transform:translateY(0) rotate(0);
        box-shadow:3px 3px rgba(2, 24, 126, 1);
    }
}
@keyframes menu_hamburguesa_vuelta2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes menu_hamburguesa_vuelta3{
    0%{
        transform:translateY(5px) rotate(-45deg);
    }
    100%{
        transform:translateY(0) rotate(0);
        box-shadow:3px 3px rgba(2, 24, 126, 1);
    }
}


/*MENU DESPLEGABLE*/

.menu {
    position: fixed;
    top: 80px;
    transform: translateX(-500%); /* esconder el menú inicialmente fuera del área visible */
    width: 260px;
    height: 220px;
    background-color: rgb(255, 233, 1);
    
    padding-top: 50px;
    transition: left 0.3s ease;
    z-index: 101;
    border-radius: 0 0 10px 0;
    transition: transform .4s;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    
  }
  
  .menu ul li {
    color: rgb(2, 24, 126);
    margin:8px;
    padding: 10px;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 30px;
    font-size: 20px;
  }
  
 .menu  ul li:hover {
    background-image: linear-gradient(to left,rgb(84, 153, 248),transparent);
    color: white;
    transition: .2s;
    cursor: pointer;
  }
  
  .show-menu {
    transform: translateX(0);
    transition: transform .4s;
  }
  
 

/*MENU DESPLEGABLE FIN*/



header img{
    position: relative;
    top: 55px;
}

.comprar{
    width: 185px;
    height: 55px;
    background-color: rgb(255, 233, 1);
    border: 8px solid rgba(41, 129, 255, 1);
    box-shadow:5px 5px rgba(2, 24, 126, 1);
    border-radius: 100px;
    font-size: 17px;
    padding-top: 3px;
    letter-spacing: 1.5px;
    color: rgb(2, 24, 126);
    -webkit-text-stroke:2px;
    margin-top: 1%;
    animation: latido-btn-vuelta .3s ease-in-out 1 forwards;
}

.comprar:hover{
    color: black;
    background-color: rgb(255, 238, 51);
    cursor: pointer;
    animation: latido-btn .3s ease-in-out 1 forwards;
}

@keyframes latido-btn{

    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.95);
    }
    100%{
        transform: scale(1.07);
    }

}

@keyframes latido-btn-vuelta{

    0%{
        transform: scale(1.07);
    }
    100%{
        transform: scale(1);
    }

}



/*PRIMER FONDO*/

.primer-fondo{
    height: 720px;
    width: 100%;
    position: relative;
}


.container-primer-fondo{
    width: 1280px;
    position: relative;
    margin: auto;
}

.logo{
    position: absolute;
    right: 330px;
}

img.fondo1-cielo{
    position: absolute;
    z-index: -100;
    top: -25px;
    width: 100%;
}

img.fondo1-edificio-izq{
    position: absolute;
    z-index: -50;
    left: -53px;
    bottom: -20px;

    opacity: 0;
    animation: aparicionXder .5s linear 5.2s 1 forwards;
}

img.fondo1-edificio-der{
    position: absolute;
    z-index: -50;
    right: -5px;

    opacity: 0;
    animation: aparicionXizq .5s linear 5.2s 1 forwards;
}

img.fondo1-edificio-medio{
    position: absolute;
    z-index: -50;
    right: 340px;
    bottom: 0;

    opacity: 0;
    animation: aparicionY .5s linear 5.2s 1 forwards;
}


.spider-woman{
    position: absolute;
    top: 270px;
    left: 100px;
    z-index: -20;

    opacity: 0;
    animation: aparicionXder 1s linear 5.2s 1 forwards;

}

.spider-peter{
    position: absolute;
    top: 290px;
    left: 425px;
    z-index: -20;

    opacity: 0;
    animation: aparicionY 1s linear 5.2s 1 forwards;
}

.spider-morales{
    position: absolute;
    top: 230px;
    right: 155px;
    z-index: -20;

    opacity: 0;
    animation: aparicionXizq 1s linear 5.2s 1 forwards;
}


.tela1{
    position: relative;
    top: 260px;
    right:160px;

    opacity: 0;
    animation: aparecerTela 1.5s linear 5.2s 1 forwards;
}

.tela2{
    position: relative;
    top: 0;
    left:250px;

    opacity: 0;
    animation: aparecerTela 1.5s linear 5.2s 1 forwards;
}


@keyframes aparicionY{
    0%{
        opacity: 0;
        transform: translateY(75px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparicionXder{
    0%{
        opacity: 0;
        transform: translateX(-85px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparicionXizq{
    0%{
        opacity: 0;
        transform: translateX(85px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecerTela{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}




/*SEGUNDO FONDO*/

.segundo-fondo{
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.fondo-violeta{
    position: absolute;
    z-index: -50;
    /*
    top: 790px;
    */
    top: -55px;
    height: 830px;
    width: 100%;
    background-color: rgba(143, 106, 166, 1);
    /*clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 83%);*/
    /*clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);*/
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 87%);
    display: flex;
    align-items: center;
}

.contenedor{
    margin: auto;
    margin-bottom: 250px;
    width: 1080px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;
}


p{
    margin-top: 25px;
    font-size: 20px;
    line-height: 1.2;
}

.contenedor p{
    color: white;
}

.contenedor p.titulo{
    color: white;
    font-size: 60px;
    line-height: 1;
}


.img-juego-fondo-violeta{
    position: absolute;
    /*
    top: 460px;
    left: 80px;
    */
    top: 330px;
    left: -20px;
}


.duende{
    position:absolute;
    /*
    right: 10px;
    top: -40px;
    */
    top: -180px;
    right: -85px;
}





/*CONTENEDOR CON LAS 3 CARDS*/

.contenedor-3-cards{
    display: flex;
    justify-content: space-between;
    width: 1080px;
   
    margin: auto;
    margin-top: 300px;
}

.card1{
    opacity: 0;
    transition: opacity 2s;
    
}

.card2{
    opacity: 0;
    transition: opacity 2s;
}

.card3{
    opacity: 0;
    transition: opacity 2s;
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes fade-in-alrevez{
    0%{
        opacity: 1;
        transform: translateY(0%);
    }
    100%{
        opacity: 0;
        transform: translateY(20%);
    }
}




/*CONTENEDOR AUTOS*/
/*se encuentra imagen de  gwen-spider y 3 MINIATURAS DE AUTOS*/


.contenedor-autos{
    position: relative;
    margin-top: 150px;
}

.fondo-negro{
    position: absolute;
    top: 60px;
    z-index: -120;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    background-color: black;
    width: 100%;
    height: 1500px;
}

.img-fondo-gwen{
    position: absolute;
}

.contenedor-img-autos{
    margin: auto;
    width: 1080px;
    position: relative;
    height: 600px;
}

.auto1{
    position:absolute;
    top: -100px;
    left: -15px;

    transition:1s;
}

.auto2{
    position:absolute;
    top: 50px;
    left: -20px;

    transition:1s;
}

.auto3{
    position:absolute;
    top: 260px;
    left: 10px;

    transition:1s;
}


/*animacion de las 3 img de autos*/
.auto1:hover{
    scale: 1.05;
    transition: .5s;
}

.auto2:hover{
    scale: 1.05;
    transition: .5s;
}

.auto3:hover{
    scale: 1.05;
    transition: .5s;
}




/*CONTENEDOR VENGADORES*/

.contenedor-vengadores{
    position: relative;
    width: 1080px;
    height: 850px;
    color: white;
    margin: auto;
    margin-top: 150px;
}

.contenedor-vengadores p{
    font-size: 60px;
    line-height: 1;
}

.cielo{
    position: absolute;
    top: 231px;
    left: -28.5px;
    z-index: -100;
    transition: .1s;
}

.pasto{
    position: absolute;
    top: 257px;
    left: 1px;
    transition: .1s;
}

.arbol{
    position: absolute;
    z-index: -50;
    top: 257px;
    transition: .1s;
}

.chica-poderosa{
    position: absolute;
    z-index: -20;
    top: 161px;
    left: 30px;
    transition: .1s;
}

.hulk{
    position: absolute;
    z-index: -20;
    left:  670px;
    top: 365px;
    transition: .1s;
}

.pantera{
    position: absolute;
    z-index: -20;
    left: 450px;
    top: 2px;
    transition: .1s;
}




/*CONTENEDOR DE MAS AMIGOS MAS DIVERSION*/
/*se encuentra carac del juego*/


.contenedor-mas-amigos{
    width: 1080px;
    margin: auto;
    margin-top: 20px;
}


.contenedor-mas-amigos p{
    font-size: 20px;
}

p.titulo{
    font-size: 60px;
    font-weight: bold;
}

p.titulo-divs{
    font-size: 40px;
    margin-top: 0;
}   


div.divs-mas-amigos{
    margin-top: 120px;
}

div.primer-div{
    margin-top: 0px;
}

div.divs-mas-amigos p{
    line-height: 1;
}




.contenedor-img-textos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.contenedor-img{
    width: 50%;
    position: relative;
}
.contenedor-img img{
    width: 550px;
    
}
.contenedor-textos{
    width: 45%;
}

.imagen-fija-inicio{
    position: fixed;
    top: 35%;
    
}

.imagen-fija-final{
    position: absolute;
    bottom: -30px;
}
/*
.img-transicion{
    opacity: 0;
    transition: 1s;
}
*/

@keyframes transicion-img{
    0%{
        opacity: .5;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}/*
@keyframes transicion-img2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
*/


/*UNA GRAN PODER CONLLEVA UN GRAN RESPONSABILIDAD*/

/*fondo negro*/
.conteiner-fondo-negro2{
    position: relative;
    margin-top: 70px;
}


.fondo-negro2{
    position: absolute;
    z-index: -1;
    height: 430px;
    width: 100%;
    clip-path: polygon(0 0, 100% 23%, 100% 69.5%, 0 100%);
    background-color: black;
}

.container-comprar-ahora{
    position: relative;
    color: white;
    height:430px;
    width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-comprar-ahora p{
    font-size: 60px;
}

button.comprar-ahora{
    width: 280px;
    height: 60px;
    background-color: rgb(255, 233, 1);
    border: 8px solid rgba(41, 129, 255, 1);
    box-shadow:5px 5px rgba(2, 24, 126, 1);
    border-radius: 100px;
    margin-right: 100px;
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: rgb(2, 24, 126);
    -webkit-text-stroke:2px;
    animation: latido-btn-vuelta .3s ease-in-out 1 forwards;
}

button.comprar-ahora:hover{
    color: black;
    background-color: rgb(255, 238, 51);
    cursor: pointer;
    animation: latido-btn .3s ease-in-out 1 forwards;
}




/*CONTENEDOR DE LOS ULTIMOS 3 SPIDERMANS*/

.tres-spidermans{
    position: relative;
    width: 1080px;
    height: 580px;
    margin: auto;
}

.spider{
    height:450px;
}

.spider-woman2{
    position: absolute;
    height: 400px;
    left: 70px;
    top: 50px;
    z-index: 10;
    transition: .5s;
}

.spider-peter2{
    position: absolute;
    left:260px;
    top: 60px;
    z-index: 10;
    transition: .5s;
}

.spider-morales2{
    position: absolute;
    right: 120px;
    top: 55px;
    height: 400px;
    z-index: 10;
    transition: .5s;
}

#img-fondo-tres-spidermans{
    position: absolute;
    top: -133px;
    left: -100px;
    z-index: 5;
}

@keyframes aparicion-img{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes aparicion-img-vuelta{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}





/*FONDO DE CIELO ANTES DEL FOOTER*/

.cielo-prefooter{
    width: 100%;
    height: 1200px;
    background-color: rgb(247, 227, 216);
    background-image: linear-gradient(180deg,rgb(143, 190, 252),rgb(143, 190, 252),rgb(143, 190, 252),transparent,rgb(247, 227, 216) );
    padding-top: 130px;
    position: relative;
}


/*CONTEINER DE CORREO ELECTRONICO PARA SUSCRIBIRSE*/

.conteiner-correo{
    width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-correo p{
    font-size: 20px;
}

.conteiner-correo span{
    text-decoration: underline 1px ;
}

p.titulo-cielo-prefooter{
    font-size: 60px;
    text-align: center;
    line-height: .9;

}

.conteiner-correo img{
    margin-top: 30px;
}


.correo, .suscribirse{
    margin-top: 40px;
}

.correo{
    height: 100px;
    width: 500px;
    border-radius: 50px 0 0 50px;
    border: 8px solid rgba(41, 129, 255, 1);
    box-shadow:5px 5px rgba(2, 24, 126, 1);
    box-sizing: border-box;
    font-size: 20px;
    padding-left: 40px;
    letter-spacing: 2px;
}

.suscribirse{
    height: 100px;
    width: 200px;
    border-radius: 0 50px 50px 0;
    background-color: rgb(255, 233, 1);
    border: 8px solid rgba(41, 129, 255, 1);
    border-left: 10px solid rgba(41, 129, 255, 1);
    box-shadow:5px 5px rgba(2, 24, 126, 1);
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: rgb(2, 24, 126);
    -webkit-text-stroke:2px;
    position:relative;
    left: -15px;
    font-weight: 650;
    transition: .5s;
}

.suscribirse:hover{
    cursor: pointer;
    transition: .5s;
    color: black;
    background-color: rgb(255, 238, 51);
    width: 215px;
}


.condiciones-edad{
    width: 600px;
    margin-top: 5px;
}




.edificios-prefooter{
    position: absolute;
    bottom:0;
    width: 100%;
}

/*SPRITESHEET*/

.container-spritesheet{
    width: 1080px;
    height: 500px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

#spritesheet{
    width:38px;
    height: 60px;
    margin: auto;
    background:url('../img/Zspritesheet-peter.png') repeat-x;
    position: absolute;
    z-index: 10;
    right: 550px;
    bottom:100px;
    animation:spritesheet 1s steps(8) infinite;
    opacity: 0;
    transition: opacity .5s;
}

@keyframes spritesheet{
    0%{
        background-position-y: 15px;
        background-position-x: -9px;
    }
    100%{
        background-position-y: 15px;
        background-position-x: -330px;
    }
}

#spritesheet2{
    width:45px;
    height: 60px;
    margin: auto;
    background:url('../img/Zspritesheet-peter2.png') repeat-x;
    position: absolute;
    z-index: 10;
    right: 550px;
    bottom:100px;
    animation:spritesheet2 .8s steps(6) infinite;
    transition: opacity .5s;
}

@keyframes spritesheet2{
    0%{
        background-position-y: 15px;
        background-position-x: 0px;
    }
    100%{
        background-position-y: 15px;
        background-position-x: -280px;
    }
}


/*BARRA NEGRA CON NOMNRE DE CONSOLAS*/

.barraConConsolas{
    width: 100%;
    height: 80px;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    margin: 0;
}

.barraConConsolas div{
    width: 1080px;
}



/*FOOTER*/

.footer{
    width: 100%;
    height: 600px;
    background-color: rgba(94, 94, 93, 1);
    padding-top: 40px;
}

.div-footer p{
    color: white;
    margin: 0;
    margin-bottom: 40px;
    font-size: 20px;
    letter-spacing: 2px;
}

.div-footer a{
    color: white;
    margin-right: 5px;
}

.div-footer{
    width: 1080px;
    margin: auto;
}




/* ESTILOS DE CARGA DE PAGINA */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/img-carga.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    background-color: rgba(255, 0, 0, 0.5); /* Opacidad del fondo */
  }
  /*
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    filter: brightness();
  }
  */
  
  .loader {
    border: 8px solid black;
    border-top: 8px solid red;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 900;
    color:  white;
  }
  
  /* Estilos para ocultar el loader cuando la página cargue */
  .loaded .loader-container {
    display: none;
  }
  
  body.loaded .content {
    display: block;
  }

  .img-carga{
    width: 80px;
  }
  
  /* ESTILOS DE FIN DE CARGA DE PAGINA */





